.review {
  font-family: "Helvetica";
  font-style: normal;
  background-color: #1d2033;
  padding: 1rem;
  color: #fefefe;
  &__header {
    display: flex;
    justify-content: space-between;
    &-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 1rem;
      gap: 0.5rem;
      text-align: left;

      &-text {
        font-weight: 700;
        font-size: 1.1875rem;
        line-height: 1.375rem;
      }
      &-star {
        width: fit-content;
        padding-top: 5px;
      }
      &-stars {
        width: fit-content;
      }
      &-viewall {
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 0.875rem;
        color: #4e7feb;
      }
    }
    &-right {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      padding-right: 5.5rem;
    }
  }
}
.reviews {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.reviewcard {
  font-family: "Helvetica";
  font-style: normal;
  width: 14.875rem;
  height: 8.4375rem;
  padding: 1rem;

  background: #141724;
  border-radius: 0.75rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-left {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    &-right {
      color: #7f7d87;
      font-weight: 400;
      font-size: 0.625rem;
      line-height: 0.6875rem;
    }
  }
  &__user-avatar {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.5rem;
  }
  &__user-text {
    display: flex;
    flex-direction: column;
  }
  &__user-name {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1rem;
    margin: 0;
  }
  &__user-products {
    color: #7f7d87;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.6875rem;
    padding: 0.2rem;
    padding-left: 0;
  }
  &__comment {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.875rem;
  }
}
