.hero {
  background-image: linear-gradient(
      to right,
      rgba(29, 32, 51, 1) 15%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../../assets/need-for-speed.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -10%;

  &__text-box {
    padding-top: 12%;
  }

  &__title,
  &__subtitle,
  &__text {
    color: white;
    text-align: left;
    margin: 0;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
  }

  &__button {
    margin: 1rem;
    margin-top: 1.5rem;
    border: none;
    color: white;
    background-color: rgb(39, 106, 252);
  }

  &__list {
    display: flex;
    background-color: rgb(29, 32, 51);

    padding-top: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
}

.list {
  &__item {
    padding: 0 1rem;
  }
  &__subheading {
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 1rem;
  }

  &__text {
    color: white;
    margin: 0;
    font-size: 0.7rem;
  }

  &__image {
    max-width: 20rem;
    min-height: 10rem;
    border-radius: 10px;
  }
}
