.game-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
  position: relative;

  &_title {
    font-size: 14px;
    width: 12rem;
  }

  &_price {
    font-size: 11px;
  }

  &_discount {
    font-size: 11px;
    background-color: #00ff84;
    border-radius: 20px;
    padding: 0.1rem 0.2rem;
    margin-right: 0.3rem;
    color: black;
  }
  &_img {
    width: 12rem;
    height: 12rem;

    &:hover {
      transform: scale(105%);
      transition: ease-in-out 0.3s;
    }

    &:active {
      transform: scale(95%);
      transition-duration: 150ms;
    }
  }
}

.like {
  mask: url(../../assets/like.png) no-repeat;
  background-color: white;
  width: 18px;
  height: 16px;
  position: absolute;
  right: 0;
  margin-right: 2rem;
  margin-top: 0.75rem;

  &:hover {
    mask: url(../../assets/heart-solid.svg) no-repeat;
    width: 18px;
    height: 18px;
    background-color: white;
  }
}

.red {
  mask: url(../../assets/heart-solid.svg) no-repeat;
  background-color: white;
}
