.game-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;

  &_title {
    font-size: 14px;
    width: 188px;
  }

  &_discount {
    font-size: 11px;
  }
  &_price {
    font-size: 11px;
  }
  &_img {
    width: 188px;
    height: 188px;
  }
}

.like {
  mask: url(../../assets/like.png) no-repeat;
  background-color: white;
  width: 18px;
  height: 16px;
  position: absolute;
  right: 0;
  margin-right: 2rem;
  margin-top: 0.75rem;

  &:hover {
    mask: url(../../assets/heart-solid.svg) no-repeat;
    width: 18px;
    height: 18px;
    background-color: red;
  }
}
