.main {
	background-color: #1d2033;
	padding: 2rem;
	flex-shrink: 2;
}

.home-box {
	display: flex;
	color: #fefefe;
}

.game-top {
	width: 100%;
	text-align: start;
	padding: 0 1rem;
}

.game-bottom {
	display: flex;
}

.fifa-box {
	position: relative;
}
.wishlist-icon {
	position: absolute;
	top: 2rem;
	right: 2rem;
}
