.header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  &__left {
    display: flex;
  }

  &__back {
    margin: 0 1rem;
    height: 25px;
    width: 25px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 2px solid grey;
    background: none;
    border-radius: 4px;
  }

  &__forward {
    margin-right: 1rem;
    cursor: pointer;
    border: none;
    background-color: rgb(50, 52, 69);
    color: rgb(109, 109, 120);
    height: 25px;
    width: 25px;
  }

  &__search {
    border: 2px solid grey;
    outline: none;
    border-radius: 4px;
  }

  &__join-button {
    margin-right: 1rem;
    border: 2px solid rgb(39, 106, 252);
    background: none;
    color: white;
    font-size: 0.75rem;
    padding: 0.25rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
  }
}

.search-icon {
  max-width: 12px;
  position: absolute;
  left: 6.5rem;
  padding-top: 0.45rem;
  opacity: 50%;
}
