html,
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.8rem;
  height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
}
