.nav {
  &-box {
    background: #171a29;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: white;
  }

  &-item {
    display: flex;
    align-items: center;
    width: auto;
    padding: 1rem;

    &:hover {
      cursor: pointer;
      background-color: #343647;
      transform: scale(105%);
      transition: ease-in-out 0.3s;
    }
  }

  &-text {
    font-size: 14px;
    padding-left: 1rem;
  }

  &-img {
    width: 16px;
    height: 16px;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
