.rightbar {
  height: 100vh;
  background-color: #171b2a;
  font-family: "Helvetica";
  font-style: normal;
  padding-left: 0.5rem;
  padding-top: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
  }
  &__header-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__user-avatar {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.5rem;
  }

  &__user-name {
    color: #fefefe;
    font-weight: 400;
    line-height: 0.8125rem;
    font-size: 12px;
    margin: 0;

    &-first {
      font-size: 14px;
    }
  }

  &__number {
    color: #6e6d79;
    font-size: 11px;
  }

  &__user-downChevron {
    padding-top: 4px;
  }
  &__friendsbar {
    display: flex;
    justify-content: space-between;
    padding-right: 0.75rem;
    padding-top: 2px;
    align-items: flex-end;
    gap: 4rem;

    &-number {
      color: #6e6d79;
    }
    &-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #fefefe;
      font-size: 11px;
      line-height: 13px;
      gap: 0.2rem;
    }
  }
  &__friends {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  &__friends-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__frienduser-name {
    color: #fefefe;
    font-weight: 400;
    font-size: 0.6875rem;
    line-height: 0.8125rem;
  }
  &__frienduser-avatar {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.5rem;
  }
}
